services:
  db:
    image: postgres:15-alpine
    container_name: hubtrack_db
    restart: always
    environment:
      POSTGRES_USER: hubtrack_user
      POSTGRES_PASSWORD: hubtrack_password
      POSTGRES_DB: hubtrack_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: hubtrack_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
