services:
  app:
    command: poetry run gunicorn src.main:app -k uvicorn.workers.UvicornWorker -w 4 -b 0.0.0.0:8000
    restart: always
    ports:
      - "8000:8000"
    environment:
      - ENVIRONMENT=production
  
  db:
    restart: always

  redis:
    restart: always